In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import networkx as nx
import community.community_louvain as cl
from networkx.drawing.nx_pydot import graphviz_layout

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.cm as cm

import numpy as np
import pandas as pd
import copy
import pickle

import time
from tqdm import tqdm

# preprocessed dataset of wheat trading from 2006 to 2021

In [ ]:
df = pd.read_csv("/content/drive/Shareddrives/22-1 데이터마이닝/TermProject/Data/comtradedata/df_2006_2021_1001.csv")
df.head()

   Unnamed: 0  Year        From             To  Trade Value (US$)
0           0  2006     Algeria          Egypt            5452264
1           1  2006     Andorra        Lebanon                  1
2           2  2006  Areas, nes          Aruba              14580
3           3  2006  Areas, nes  Côte d'Ivoire                339
4           4  2006  Areas, nes        Ireland            1575677

In [ ]:
df.drop(["Unnamed: 0"], axis=1, inplace=True)
df.head()

   Year        From             To  Trade Value (US$)
0  2006     Algeria          Egypt            5452264
1  2006     Andorra        Lebanon                  1
2  2006  Areas, nes          Aruba              14580
3  2006  Areas, nes  Côte d'Ivoire                339
4  2006  Areas, nes        Ireland            1575677

# Dataset of Korea

In [ ]:
df_f = df[df['From']=='Rep. of Korea'].copy()
df_t = df[df['To']=='Rep. of Korea'].copy()
df_korea = pd.concat([df_f, df_t])

In [ ]:
df_korea

,Year,From,To,Trade Value (US$)
1190,2006,Rep. of Korea,Bolivia (Plurinational State of),32
1191,2006,Rep. of Korea,Canada,21991
1192,2006,Rep. of Korea,China,500
1193,2006,Rep. of Korea,Dominican Rep.,36
1194,2006,Rep. of Korea,Mexico,160
...,...,...,...,...
30069,2021,Latvia,Rep. of Korea,7295906
30359,2021,Romania,Rep. of Korea,111652191
30601,2021,Turkey,Rep. of Korea,1698480
30680,2021,USA,Rep. of Korea,495796158
30753,2021,Ukraine,Rep. of Korea,63135753

### 2022년 예상 데이터셋 구성 (수출 제한 국가 삭제)

In [ ]:
wheat2021 = df_korea[df_korea['Year'] == 2021].copy()

df2022 = wheat2021.loc[(wheat2021['From'] != 'Russian Federation') & (wheat2021['From'] != 'Ukraine') & (wheat2021['From'] != 'India')
                                & (wheat2021['To'] != 'Russian Federation') & (wheat2021['To'] != 'Ukraine')]

df2022['Year'] = 2022

df2022.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Year           From             To  Trade Value (US$)
30300  2022  Rep. of Korea    Netherlands                 62
30301  2022  Rep. of Korea    Philippines                310
29338  2022      Australia  Rep. of Korea          311250701
29416  2022        Belgium  Rep. of Korea              61113
29513  2022         Canada  Rep. of Korea           61827465
29680  2022        Estonia  Rep. of Korea            7082833
29795  2022        Germany  Rep. of Korea             543188
30069  2022         Latvia  Rep. of Korea            7295906
30359  2022        Romania  Rep. of Korea          111652191
30601  2022         Turkey  Rep. of Korea            1698480

# 2006 ~ 2022 Korea Dataset

In [ ]:
df_korea = pd.concat([df_korea, df2022], ignore_index=True)
df_korea

     Year           From                                To  Trade Value (US$)
0    2006  Rep. of Korea  Bolivia (Plurinational State of)                 32
1    2006  Rep. of Korea                            Canada              21991
2    2006  Rep. of Korea                             China                500
3    2006  Rep. of Korea                    Dominican Rep.                 36
4    2006  Rep. of Korea                            Mexico                160
..    ...            ...                               ...                ...
329  2022        Germany                     Rep. of Korea             543188
330  2022         Latvia                     Rep. of Korea            7295906
331  2022        Romania                     Rep. of Korea          111652191
332  2022         Turkey                     Rep. of Korea            1698480
333  2022            USA                     Rep. of Korea          495796158

[334 rows x 4 columns]

In [ ]:
startYear = 2006
endYear = 2022
df_kor = {}
for year in range(startYear, endYear+1):
  df_kor[year] = df_korea[df_korea['Year']==year].copy()
df_kor[2021]

     Year           From             To  Trade Value (US$)
81   2021  Rep. of Korea    Netherlands                 62
82   2021  Rep. of Korea    Philippines                310
312  2021      Australia  Rep. of Korea          311250701
313  2021        Belgium  Rep. of Korea              61113
314  2021         Canada  Rep. of Korea           61827465
315  2021        Estonia  Rep. of Korea            7082833
316  2021        Germany  Rep. of Korea             543188
317  2021          India  Rep. of Korea           22649205
318  2021         Latvia  Rep. of Korea            7295906
319  2021        Romania  Rep. of Korea          111652191
320  2021         Turkey  Rep. of Korea            1698480
321  2021            USA  Rep. of Korea          495796158
322  2021        Ukraine  Rep. of Korea           63135753

In [ ]:
# Test
print(df_kor[2022][df_kor[2022]['From'] == 'Russian Federation'])
print(df_kor[2022][df_kor[2022]['From'] == 'Ukraine'])
print(df_kor[2022][df_kor[2022]['From'] == 'India'])
print(df_kor[2022][df_kor[2022]['To'] == 'Russian Federation'])
print(df_kor[2022][df_kor[2022]['To'] == 'Ukraine'], '\n')
print(df_kor[2022][df_kor[2022]['To'] == 'India'])
# successfully eliminated

Empty DataFrame
Columns: [Year, From, To, Trade Value (US$)]
Index: []
Empty DataFrame
Columns: [Year, From, To, Trade Value (US$)]
Index: []
Empty DataFrame
Columns: [Year, From, To, Trade Value (US$)]
Index: []
Empty DataFrame
Columns: [Year, From, To, Trade Value (US$)]
Index: []
Empty DataFrame
Columns: [Year, From, To, Trade Value (US$)]
Index: []

Empty DataFrame
Columns: [Year, From, To, Trade Value (US$)]
Index: []

## korea central graph making

In [ ]:
wheat_korea = {}

for year in range(startYear, endYear+1):
    wheat_korea[year] = nx.from_pandas_edgelist(df_kor[year], source='From', target='To', 
                                                 edge_attr='Trade Value (US$)', create_using=nx.DiGraph()) # Directed Graph

In [ ]:
# finding independent, moderate, dependent node in Graph
def nodeDependency(G):
  indep_nodes = []
  moderate_nodes = []
  dep_nodes = []
  for node in list(G.nodes()):
      ratio = G.out_degree(node, weight='Trade Value (US$)') / (G.out_degree(node, weight='Trade Value (US$)') + G.in_degree(node, weight='Trade Value (US$)'))
      dep_nodes.append(node) if ratio < 0.3 else indep_nodes.append(node) if ratio > 0.7 else moderate_nodes.append(node)

  return indep_nodes, moderate_nodes, dep_nodes

In [ ]:
def DiGraphPlot(G, year):
    fig, ax = plt.subplots()
    fig.set_size_inches((32, 32))
    
    plt.rcParams.update({
        "figure.facecolor":  (1.0, 229/255, 204/255, 0.3),  # with alpha = 30%
        "savefig.facecolor": (1.0, 229/255, 204/255, 0.3),  # with alpha = 30%
    })

    # nodelist by dependency
    indep_nodes, moderate_nodes, dep_nodes = nodeDependency(G)
    
    ## layout 설정
    layout = {"circular layout of Countries related to Korea in {}".format(year) : nx.circular_layout(G)}
              
    for _, item in enumerate(layout.items()):
        title, pos = item[0], item[1]
        nx.draw_networkx(G, pos=pos, font_color="white", ax=ax, font_size=12)
        
        # 수입 의존도가 낮은 노드
        nx.draw_networkx_nodes(G, pos,
                               nodelist = indep_nodes,
                               node_color="tab:blue",
                               node_size = 10000)        
        
        # 수입 수출량이 비슷한 노드
        nx.draw_networkx_nodes(G, pos,
                               nodelist = moderate_nodes,
                               node_color="green",
                               node_size = 10000)

        # 수입 의존도가 높은 노드
        nx.draw_networkx_nodes(G, pos,
                               nodelist = dep_nodes,
                               node_color="tab:red",
                               node_size = 10000)
        
        # arrow style 지정
        nx.draw_networkx_edges(G, pos, edge_color='k', arrowsize=25, connectionstyle='arc3', min_target_margin=60)

        
        ax.set_title(title, fontsize=40)
        ax.axis('off')

    plt.tight_layout()
    plt.savefig(f"/content/drive/Shareddrives/22-1 데이터마이닝/TermProject/Louvain_Analysis/Korea/koreaGraph_in_{year}.png",
                # dpi = 200, # 해상도
                bbox_inches='tight' # 
                )
    plt.show()
    plt.close()

In [ ]:
# saving plot image

for year in tqdm(range(startYear, endYear+1), desc=f"plotting {year}...", mininterval=0.01):
  DiGraphPlot(wheat_korea[year], year)

## Centrality analysis

### return_centralities_as_dict()

In [ ]:
from networkx.algorithms.centrality.eigenvector import eigenvector_centrality

def return_centralities_as_dict(input_g):
    # weighted degree centrality를 딕셔너리로 리턴
    def return_weighted_degree_centrality(input_g, normalized=False):
        w_d_centrality = {n:0.0 for n in input_g.nodes()} # initialize
        for u, v, d in input_g.edges(data=True):
            w_d_centrality[u]+=d['Trade Value (US$)']
            w_d_centrality[v]+=d['Trade Value (US$)']
        if normalized==True:
            weighted_sum = sum(w_d_centrality.values())
            return {k:v/weighted_sum for k, v in w_d_centrality.items()}
        else:
            return w_d_centrality

    def return_eigenvector_centrality(input_g):
        return nx.eigenvector_centrality(input_g, weight='Trade Value (US$)', max_iter=1000000000000) 
        # max_iter는 default 100으로 설정되어 미지정시 PowerIterationFailedConvergence 에러가 발생

    return {
        'weighted_deg':return_weighted_degree_centrality(input_g),
        'eigenvector_cent':return_eigenvector_centrality(input_g)
    }

In [ ]:
# # 2hours

# kor_cenInfo = {}
    
# for year in tqdm(range(startYear, endYear+1), desc="{}년도의 centrality 계산".format(year), mininterval=0.01):
#   kor_cenInfo[year] = {}
  
#   kor_cenInfo[year]['wdeg'] = return_centralities_as_dict(wheat_korea[year])['weighted_deg']
  
#   kor_cenInfo[year]['weig'] = return_centralities_as_dict(wheat_korea[year])['eigenvector_cent']

In [ ]:
# kor_cenInfo.keys()

## korea_cenInfo.pkl 로 저장하기

In [ ]:
# # saving
# with open('/content/drive/Shareddrives/22-1 데이터마이닝/TermProject/Louvain_Analysis/pickles/kor_cenInfo.pkl', 'wb') as f:
#   pickle.dump(kor_cenInfo, f)

In [ ]:
# loading
with open('/content/drive/Shareddrives/22-1 데이터마이닝/TermProject/Louvain_Analysis/pickles/kor_cenInfo.pkl', 'rb') as f:
  kor_cenInfo = pickle.load(f)

In [ ]:
kor_cenInfo.keys()

dict_keys([2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022])

In [ ]:
kor_cenInfo.values()

dict_values([{'wdeg': {'Rep. of Korea': 1014223196.0, 'Bolivia (Plurinational State of)': 32.0, 'Canada': 194703851.0, 'China': 108591645.0, 'Dominican Rep.': 36.0, 'Mexico': 160.0, 'Australia': 223428655.0, 'Brazil': 7085139.0, 'Bulgaria': 3474982.0, 'India': 84.0, 'Indonesia': 340.0, 'Italy': 1885.0, 'Japan': 15.0, 'Kyrgyzstan': 694220.0, 'Russian Federation': 9684.0, 'Singapore': 131197.0, 'Switzerland': 12.0, 'USA': 419244929.0, 'Ukraine': 56856330.0}, 'weig': {'Rep. of Korea': 0.9999442967129436, 'Bolivia (Plurinational State of)': 1.535428530056542e-05, 'Canada': 0.01055175275139794, 'China': 0.00023991070782133464, 'Dominican Rep.': 1.7273570963136097e-05, 'Mexico': 7.677142650282709e-05, 'Australia': 0.0, 'Brazil': 0.0, 'Bulgaria': 0.0, 'India': 0.0, 'Indonesia': 0.0, 'Italy': 0.0, 'Japan': 0.0, 'Kyrgyzstan': 0.0, 'Russian Federation': 0.0, 'Singapore': 0.0, 'Switzerland': 0.0, 'USA': 0.0, 'Ukraine': 0.0}}, {'wdeg': {'Rep. of Korea': 1375956319.0, 'Australia': 235001469.0, 'Bangladesh': 5866.0, 'Canada': 49324445.0, 'Mexico': 505.0, 'Singapore': 64.0, 'Switzerland': 240.0, 'Thailand': 101.0, 'Viet Nam': 829696.0, 'China': 409773257.0, 'Indonesia': 1706628.0, 'Kyrgyzstan': 1039520.0, 'Russian Federation': 42920.0, 'Syria': 999930.0, 'USA': 677231678.0}, 'weig': {'Rep. of Korea': 0.38397569176296104, 'Australia': 4.7852002674436216e-05, 'Bangladesh': 0.006527903434610299, 'Canada': 0.0024582575327402236, 'Mexico': 0.0005619828221067509, 'Singapore': 7.122158537590507e-05, 'Switzerland': 0.000267080945159644, 'Thailand': 0.00011239656442135018, 'Viet Nam': 0.9233166328132333, 'China': 0.0, 'Indonesia': 0.0, 'Kyrgyzstan': 0.0, 'Russian Federation': 0.0, 'Syria': 0.0, 'USA': 0.0}}, {'wdeg': {'Rep. of Korea': 1976610028.0, 'Austria': 6.0, 'Cambodia': 789.0, 'Ethiopia': 8.0, 'Indonesia': 116737.0, 'Mexico': 939.0, 'Thailand': 38451.0, 'United Kingdom': 36.0, 'Argentina': 50.0, 'Australia': 338312268.0, 'Canada': 137873287.0, 'China': 4758430.0, 'Denmark': 20929.0, 'Kazakhstan': 117.0, 'Kyrgyzstan': 1010490.0, 'Russian Federation': 1069303.0, 'Singapore': 45.0, 'Tokelau': 344.0, 'Turkey': 382.0, 'USA': 1248882455.0, 'Ukraine': 244524962.0}, 'weig': {'Rep. of Korea': 0.0009991299662819799, 'Austria': 4.8815190098039726e-05, 'Cambodia': 0.006419197497892224, 'Ethiopia': 6.508692013071964e-05, 'Indonesia': 0.9497564744124772, 'Mexico': 0.007509403410081778, 'Thailand': 0.3128321457432876, 'United Kingdom': 0.00029289114058823836, 'Argentina': 0.0, 'Australia': 0.0, 'Canada': 0.0, 'China': 0.0, 'Denmark': 0.0, 'Kazakhstan': 0.0, 'Kyrgyzstan': 0.0, 'Russian Federation': 0.0, 'Singapore': 0.0, 'Tokelau': 0.0, 'Turkey': 0.0, 'USA': 0.0, 'Ukraine': 0.0}}, {'wdeg': {'Rep. of Korea': 1664676481.0, 'Algeria': 1807.0, 'Chile': 1601.0, 'China': 117020.0, 'Indonesia': 19582.0, 'Philippines': 3747.0, 'Australia': 373098159.0, 'Belgium': 971.0, 'Canada': 90976739.0, 'Finland': 54.0, 'France': 2444.0, 'Israel': 13.0, 'Kyrgyzstan': 363600.0, 'Nepal': 2.0, 'Rep. of Moldova': 2620792.0, 'Russian Federation': 23727077.0, 'Turkey': 13.0, 'USA': 580948203.0, 'Ukraine': 592794626.0, 'United Kingdom': 31.0}, 'weig': {'Rep. of Korea': 0.07595856471655814, 'Algeria': 0.08971702018069375, 'Chile': 0.07948918058068107, 'China': 0.000992994135923561, 'Indonesia': 0.9722405584827587, 'Philippines': 0.18603745136527916, 'Australia': 0.0, 'Belgium': 0.0, 'Canada': 0.0, 'Finland': 0.0, 'France': 0.0, 'Israel': 0.0, 'Kyrgyzstan': 0.0, 'Nepal': 0.0, 'Rep. of Moldova': 0.0, 'Russian Federation': 0.0, 'Turkey': 0.0, 'USA': 0.0, 'Ukraine': 0.0, 'United Kingdom': 0.0}}, {'wdeg': {'Rep. of Korea': 2056060327.0, 'Canada': 382178379.0, 'Dominican Rep.': 52.0, 'Indonesia': 5244.0, 'Mozambique': 502.0, 'Singapore': 120.0, 'United Kingdom': 32.0, 'Australia': 483403249.0, 'Brazil': 34582630.0, 'Bulgaria': 78447237.0, 'Denmark': 44603563.0, 'Germany': 22138931.0, 'Hungary': 1672443.0, 'Japan': 23.0, 'Kazakhstan': 1014.0, 'Maldives': 719448.0, 'Mexico': 48.0, 'Mongolia': 4.0, 'Romania': 70419861.0, 'Russian Federation': 26759662.0, 'Serbia': 193713.0, 'Turkey': 26.0, 'USA': 720840982.0, 'Ukraine': 190093164.0}, 'weig': {'Rep. of Korea': 0.9992666263474451, 'Canada': 0.00028461531170036555, 'Dominican Rep.': 0.00047741923252964547, 'Indonesia': 0.03799155354245525, 'Mozambique': 0.0046089318217285005, 'Singapore': 0.0011017366904530282, 'United Kingdom': 0.00029379645078747417, 'Australia': 0.0, 'Brazil': 0.0, 'Bulgaria': 0.0, 'Denmark': 0.0, 'Germany': 0.0, 'Hungary': 0.0, 'Japan': 0.0, 'Kazakhstan': 0.0, 'Maldives': 0.0, 'Mexico': 0.0, 'Mongolia': 0.0, 'Romania': 0.0, 'Russian Federation': 0.0, 'Serbia': 0.0, 'Turkey': 0.0, 'USA': 0.0, 'Ukraine': 0.0}}, {'wdeg': {'Rep. of Korea': 1073207705.0, 'Fmr Sudan': 1367.0, 'Mexico': 20.0, 'Singapore': 2076.0, 'Australia': 591538857.0, 'Brazil': 84000.0, 'Bulgaria': 1022819.0, 'Canada': 480558566.0}, 'weig': {'Rep. of Korea': 7.314471566578472e-05, 'Fmr Sudan': 0.5499385447836742, 'Mexico': 0.008045918723980347, 'Singapore': 0.8351663635485761, 'Australia': 5.6796206473393935e-15, 'Brazil': 5.6796206473393935e-15, 'Bulgaria': 5.6796206473393935e-15, 'Canada': 5.6796206473393935e-15}}, {'wdeg': {'Rep. of Korea': 949564810.0, 'New Zealand': 167.0, 'South Africa': 3.0, 'Australia': 571968680.0, 'Canada': 129269425.0, 'India': 217065835.0, 'Russian Federation': 3134687.0, 'Ukraine': 28126013.0}, 'weig': {'Rep. of Korea': 0.0002993528863106259, 'New Zealand': 0.9998386403044637, 'South Africa': 0.017961173179129656, 'Australia': 7.689092034669414e-15, 'Canada': 7.689092034669414e-15, 'India': 7.689092034669414e-15, 'Russian Federation': 7.689092034669414e-15, 'Ukraine': 7.689092034669414e-15}}, {'wdeg': {'Rep. of Korea': 881484824.0, 'Australia': 305946705.0, 'Bangladesh': 15.0, 'Cameroon': 1202.0, 'New Zealand': 332.0, 'Pakistan': 6015727.0, 'Argentina': 57138.0, 'Brazil': 52214578.0, 'Bulgaria': 52714633.0, 'Canada': 80717529.0, 'India': 177414439.0, 'Romania': 148135098.0, 'Russian Federation': 18886331.0, 'Turkey': 13874741.0, 'Ukraine': 25506356.0}, 'weig': {'Rep. of Korea': 0.1404350222579671, 'Australia': 0.0003917088857703012, 'Bangladesh': 2.4687534817455958e-06, 'Cameroon': 0.00019782944567054705, 'New Zealand': 5.464174372930251e-05, 'Pakistan': 0.9900897984320657, 'Argentina': 0.0, 'Brazil': 0.0, 'Bulgaria': 0.0, 'Canada': 0.0, 'India': 0.0, 'Romania': 0.0, 'Russian Federation': 0.0, 'Turkey': 0.0, 'Ukraine': 0.0}}, {'wdeg': {'Rep. of Korea': 675485790.0, 'Canada': 157848570.0, 'Netherlands': 115.0, 'New Zealand': 169.0, 'Singapore': 692.0, 'South Africa': 41.0, 'Turkey': 1261667.0, 'Argentina': 94888.0, 'Australia': 313392339.0, 'Bulgaria': 22421938.0, 'Denmark': 14499358.0, 'India': 52003192.0, 'Norway': 49361.0, 'Romania': 18916092.0, 'Russian Federation': 1251512.0, 'Ukraine': 93745856.0}, 'weig': {'Rep. of Korea': 0.9999927578779998, 'Canada': 0.0005185827149000509, 'Netherlands': 0.0013553866412160422, 'New Zealand': 0.0019918290640479233, 'Singapore': 0.0013907445535955912, 'South Africa': 0.00048322480252050207, 'Turkey': 0.0024986258081547913, 'Argentina': 0.0, 'Australia': 0.0, 'Bulgaria': 0.0, 'Denmark': 0.0, 'India': 0.0, 'Norway': 0.0, 'Romania': 0.0, 'Russian Federation': 0.0, 'Ukraine': 0.0}}, {'wdeg': {'Rep. of Korea': 565992554.0, 'Bahrain': 2420.0, 'Botswana': 41.0, 'Netherlands': 14.0, 'Singapore': 1945.0, 'Argentina': 78272.0, 'Australia': 268684967.0, 'Brazil': 23621301.0, 'Bulgaria': 17158024.0, 'Canada': 51487970.0, 'Denmark': 29539864.0, 'India': 47121.0, 'Israel': 3000.0, 'Lithuania': 13335450.0, 'Russian Federation': 3144236.0, 'Turkey': 2437228.0, 'Ukraine': 156450701.0}, 'weig': {'Rep. of Korea': 0.26469203696813004, 'Bahrain': 0.9584187320551862, 'Botswana': 0.01623767273316638, 'Netherlands': 0.0031683263869592936, 'Singapore': 0.1053468523663965, 'Argentina': 0.0, 'Australia': 0.0, 'Brazil': 0.0, 'Bulgaria': 0.0, 'Canada': 0.0, 'Denmark': 0.0, 'India': 0.0, 'Israel': 0.0, 'Lithuania': 0.0, 'Russian Federation': 0.0, 'Turkey': 0.0, 'Ukraine': 0.0}}, {'wdeg': {'Rep. of Korea': 1851568963.0, 'Canada': 85418901.0, 'Iran': 2834659.0, 'Japan': 889.0, 'Maldives': 39.0, 'Singapore': 243856.0, 'USA': 539308216.0, 'Anguilla': 101.0, 'Argentina': 84422399.0, 'Australia': 524320808.0, 'Brazil': 10547.0, 'Bulgaria': 54097532.0, 'China': 4860.0, 'Egypt': 129297.0, 'Finland': 190.0, 'France': 26325906.0, 'Germany': 1705.0, 'Hungary': 52491.0, 'India': 9.0, 'Israel': 13000.0, 'Italy': 24352.0, 'Kazakhstan': 36.0, 'Mexico': 284.0, 'Netherlands': 103652.0, 'New Zealand': 15899.0, 'Philippines': 27.0, 'Poland': 75.0, 'Romania': 32506911.0, 'Russian Federation': 43382875.0, 'Saudi Arabia': 3.0, 'Thailand': 9.0, 'Turkey': 3993227.0, 'Ukraine': 454198244.0, 'United Kingdom': 157964.0}, 'weig': {'Rep. of Korea': 0.6669987861773764, 'Canada': 0.00011932238937564541, 'Iran': 0.7450182487779243, 'Japan': 0.00023365111047345545, 'Maldives': 1.0250161201872624e-05, 'Singapore': 0.007116502945207821, 'USA': 0.0031168374793078832, 'Anguilla': 0.0, 'Argentina': 0.0, 'Australia': 0.0, 'Brazil': 0.0, 'Bulgaria': 0.0, 'China': 0.0, 'Egypt': 0.0, 'Finland': 0.0, 'France': 0.0, 'Germany': 0.0, 'Hungary': 0.0, 'India': 0.0, 'Israel': 0.0, 'Italy': 0.0, 'Kazakhstan': 0.0, 'Mexico': 0.0, 'Netherlands': 0.0, 'New Zealand': 0.0, 'Philippines': 0.0, 'Poland': 0.0, 'Romania': 0.0, 'Russian Federation': 0.0, 'Saudi Arabia': 0.0, 'Thailand': 0.0, 'Turkey': 0.0, 'Ukraine': 0.0, 'United Kingdom': 0.0}}, {'wdeg': {'Rep. of Korea': 1797993084.0, 'Belgium': 4187.0, 'China, Hong Kong SAR': 113.0, 'Egypt': 34736234.0, 'Indonesia': 1452.0, 'Japan': 60.0, 'Malaysia': 13800.0, 'Palau': 26.0, 'Singapore': 139.0, 'USA': 661857613.0, 'United Arab Emirates': 813.0, 'Australia': 503148702.0, 'Brazil': 89337905.0, 'Bulgaria': 25857248.0, 'Canada': 109628234.0, 'China': 6449.0, 'Cyprus': 31.0, 'France': 30197027.0, 'India': 20.0, 'Israel': 10000.0, 'Kazakhstan': 23.0, 'Mexico': 56.0, 'Netherlands': 79.0, 'Philippines': 13.0, 'Romania': 6770230.0, 'Russian Federation': 54187697.0, 'Thailand': 65.0, 'Turkey': 2866172.0, 'Ukraine': 279368695.0, 'United Kingdom': 1.0}, 'weig': {'Rep. of Korea': 0.06744757981050081, 'Belgium': 9.115735546944916e-05, 'China, Hong Kong SAR': 3.2494577817185343e-06, 'Egypt': 0.9977227193031962, 'Indonesia': 4.175409468190542e-05, 'Japan': 1.7253758133018765e-06, 'Malaysia': 0.00039683643705943164, 'Palau': 7.476628524308132e-07, 'Singapore': 2.185476030182377e-06, 'USA': 0.00017803002766919864, 'United Arab Emirates': 1.0869867623801822e-05, 'Australia': 0.0, 'Brazil': 0.0, 'Bulgaria': 0.0, 'Canada': 0.0, 'China': 0.0, 'Cyprus': 0.0, 'France': 0.0, 'India': 0.0, 'Israel': 0.0, 'Kazakhstan': 0.0, 'Mexico': 0.0, 'Netherlands': 0.0, 'Philippines': 0.0, 'Romania': 0.0, 'Russian Federation': 0.0, 'Thailand': 0.0, 'Turkey': 0.0, 'Ukraine': 0.0, 'United Kingdom': 0.0}}, {'wdeg': {'Rep. of Korea': 1888986683.0, 'Cambodia': 3863.0, 'Indonesia': 2764.0, 'Japan': 42.0, 'Singapore': 710.0, 'Uganda': 4.0, 'Algeria': 13.0, 'Australia': 554011434.0, 'Belgium': 18381.0, 'Canada': 111306150.0, 'China': 102.0, 'Denmark': 165.0, 'Egypt': 4591.0, 'France': 4125346.0, 'Germany': 26077.0, 'Italy': 1035.0, 'Kazakhstan': 29.0, 'Mexico': 117.0, 'Pakistan': 2447.0, 'Russian Federation': 147912913.0, 'Spain': 180.0, 'Turkey': 2266903.0, 'USA': 735555052.0, 'Ukraine': 333748365.0}, 'weig': {'Rep. of Korea': 8.328211979426325e-05, 'Cambodia': 0.8042970720124544, 'Indonesia': 0.5754794478494517, 'Japan': 0.008744622579485158, 'Singapore': 0.14782576265308459, 'Uganda': 0.0008328211980528536, 'Algeria': 7.348070620900502e-15, 'Australia': 7.348070620900502e-15, 'Belgium': 7.348070620900502e-15, 'Canada': 7.348070620900502e-15, 'China': 7.348070620900502e-15, 'Denmark': 7.348070620900502e-15, 'Egypt': 7.348070620900502e-15, 'France': 7.348070620900502e-15, 'Germany': 7.348070620900502e-15, 'Italy': 7.348070620900502e-15, 'Kazakhstan': 7.348070620900502e-15, 'Mexico': 7.348070620900502e-15, 'Pakistan': 7.348070620900502e-15, 'Russian Federation': 7.348070620900502e-15, 'Spain': 7.348070620900502e-15, 'Turkey': 7.348070620900502e-15, 'USA': 7.348070620900502e-15, 'Ukraine': 7.348070620900502e-15}}, {'wdeg': {'Rep. of Korea': 1861040547.0, 'China': 137258.0, 'Indonesia': 270915.0, 'Netherlands': 69.0, 'Singapore': 2145.0, 'Uganda': 18.0, 'Argentina': 42.0, 'Australia': 600448791.0, 'Belgium': 34100.0, 'Bulgaria': 83011412.0, 'Canada': 221745666.0, 'Czechia': 12.0, 'France': 1503967.0, 'Germany': 79720.0, 'India': 3.0, 'Italy': 31.0, 'Japan': 645.0, 'Nepal': 5.0, 'Nigeria': 8.0, 'Philippines': 2.0, 'Romania': 97076164.0, 'Russian Federation': 2049392.0, 'Thailand': 221.0, 'Turkey': 2071527.0, 'USA': 638042714.0, 'Ukraine': 214565720.0}, 'weig': {'Rep. of Korea': 0.045665905062321946, 'China': 0.004155473172718866, 'Indonesia': 0.9989174929788215, 'Netherlands': 0.00018435994555097014, 'Singapore': 0.007820548890272153, 'Uganda': 6.636958039834924e-05, 'Argentina': 0.0, 'Australia': 0.0, 'Belgium': 0.0, 'Bulgaria': 0.0, 'Canada': 0.0, 'Czechia': 0.0, 'France': 0.0, 'Germany': 0.0, 'India': 0.0, 'Italy': 0.0, 'Japan': 0.0, 'Nepal': 0.0, 'Nigeria': 0.0, 'Philippines': 0.0, 'Romania': 0.0, 'Russian Federation': 0.0, 'Thailand': 0.0, 'Turkey': 0.0, 'USA': 0.0, 'Ukraine': 0.0}}, {'wdeg': {'Rep. of Korea': 1787646274.0, 'China, Hong Kong SAR': 4125.0, 'Italy': 78.0, 'Singapore': 383.0, 'Uganda': 10.0, 'Argentina': 93.0, 'Australia': 587112510.0, 'Belgium': 36961.0, 'Bulgaria': 22912547.0, 'Canada': 159609443.0, 'China': 2813.0, 'Egypt': 104.0, 'Estonia': 24179881.0, 'France': 1561389.0, 'Germany': 209685.0, 'India': 2.0, 'Indonesia': 5.0, 'Romania': 78741388.0, 'Russian Federation': 28287461.0, 'Turkey': 3182481.0, 'USA': 722606760.0, 'Ukraine': 159198149.0, 'United Kingdom': 6.0}, 'weig': {'Rep. of Korea': 8.044750746201486e-05, 'China, Hong Kong SAR': 0.9955379049485164, 'Italy': 0.018824716748123707, 'Singapore': 0.0924341860837105, 'Uganda': 0.0024134252241240287, 'Argentina': 6.428861670948191e-15, 'Australia': 6.428861670948191e-15, 'Belgium': 6.428861670948191e-15, 'Bulgaria': 6.428861670948191e-15, 'Canada': 6.428861670948191e-15, 'China': 6.428861670948191e-15, 'Egypt': 6.428861670948191e-15, 'Estonia': 6.428861670948191e-15, 'France': 6.428861670948191e-15, 'Germany': 6.428861670948191e-15, 'India': 6.428861670948191e-15, 'Indonesia': 6.428861670948191e-15, 'Romania': 6.428861670948191e-15, 'Russian Federation': 6.428861670948191e-15, 'Turkey': 6.428861670948191e-15, 'USA': 6.428861670948191e-15, 'Ukraine': 6.428861670948191e-15, 'United Kingdom': 6.428861670948191e-15}}, {'wdeg': {'Rep. of Korea': 1082993365.0, 'Netherlands': 62.0, 'Philippines': 310.0, 'Australia': 311250701.0, 'Belgium': 61113.0, 'Canada': 61827465.0, 'Estonia': 7082833.0, 'Germany': 543188.0, 'India': 22649205.0, 'Latvia': 7295906.0, 'Romania': 111652191.0, 'Turkey': 1698480.0, 'USA': 495796158.0, 'Ukraine': 63135753.0}, 'weig': {'Rep. of Korea': 0.00028756030354996985, 'Netherlands': 0.19611612702968018, 'Philippines': 0.9805806351483545, 'Australia': 1.1544508573727233e-14, 'Belgium': 1.1544508573727233e-14, 'Canada': 1.1544508573727233e-14, 'Estonia': 1.1544508573727233e-14, 'Germany': 1.1544508573727233e-14, 'India': 1.1544508573727233e-14, 'Latvia': 1.1544508573727233e-14, 'Romania': 1.1544508573727233e-14, 'Turkey': 1.1544508573727233e-14, 'USA': 1.1544508573727233e-14, 'Ukraine': 1.1544508573727233e-14}}, {'wdeg': {'Rep. of Korea': 997208407.0, 'Netherlands': 62.0, 'Philippines': 310.0, 'Australia': 311250701.0, 'Belgium': 61113.0, 'Canada': 61827465.0, 'Estonia': 7082833.0, 'Germany': 543188.0, 'Latvia': 7295906.0, 'Romania': 111652191.0, 'Turkey': 1698480.0, 'USA': 495796158.0}, 'weig': {'Rep. of Korea': 0.00026359694666163477, 'Netherlands': 0.19611612832478895, 'Philippines': 0.9805806416239025, 'Australia': 1.0573398424374358e-14, 'Belgium': 1.0573398424374358e-14, 'Canada': 1.0573398424374358e-14, 'Estonia': 1.0573398424374358e-14, 'Germany': 1.0573398424374358e-14, 'Latvia': 1.0573398424374358e-14, 'Romania': 1.0573398424374358e-14, 'Turkey': 1.0573398424374358e-14, 'USA': 1.0573398424374358e-14}}])

# Centrality 높은 상위 국가 판단

거래 금액을 weight로 지정한 아래의 두 Centrality를 이용해 파악해보았다.

degree centrality

eigenvector centrality

In [ ]:
# DataFrame으로 각 degree별 상위 국가 Top 5 파악, 한국이 포함될 것임로 6순위 까지

centrality = {}
centrality_df = {}

for year in tqdm(range(startYear, endYear+1), desc="centrality top 5", mininterval=0.01):
    
  centrality[year] = {}

  # weighted degree centrality
  centrality[year]['wdeg'] = [item for item, value in sorted(kor_cenInfo[year]['wdeg'].items(), key=lambda x:x[1], reverse=True)[0:6]]
  
  # weighted eigenvector centrality
  centrality[year]['weig'] = [item for item, value in sorted(kor_cenInfo[year]['weig'].items(), key=lambda x:x[1], reverse=True)[0:6]]

  centrality_df[year] = pd.DataFrame([
                                centrality[year]['wdeg'],
                                centrality[year]['weig']])

  centrality_df[year].rename(
              columns={0:'1st', 1:'2nd', 2:'3rd', 3:'4th', 4:'5th', 5: '6th'},
              index = {
                        0:'weigthed degree centrality',
                        1:'weigthed eigenvector centrality' },inplace=True)

centrality top 5: 100%|██████████| 17/17 [00:00<00:00, 512.57it/s]

In [ ]:
year= 2021

print(f'weighted degree centrality in {year}:\n', sorted(kor_cenInfo[year]['wdeg'].items(), key=lambda x:x[1], reverse=True)[0:6], '\n')
print(f'weighted eigenvector centrality in {year}:\n', sorted(kor_cenInfo[year]['weig'].items(), key=lambda x:x[1], reverse=True)[0:6], '\n')

weighted degree centrality in 2021:
 [('Rep. of Korea', 1082993365.0), ('USA', 495796158.0), ('Australia', 311250701.0), ('Romania', 111652191.0), ('Ukraine', 63135753.0), ('Canada', 61827465.0)]

weighted eigenvector centrality in 2021:
 [('Philippines', 0.9805806351483545), ('Netherlands', 0.19611612702968018), ('Rep. of Korea', 0.00028756030354996985), ('Australia', 1.1544508573727233e-14), ('Belgium', 1.1544508573727233e-14), ('Canada', 1.1544508573727233e-14)]

In [ ]:
centrality_df[2021]

,1st,2nd,3rd,4th,5th,6th
weigthed degree centrality,Rep. of Korea,USA,Australia,Romania,Ukraine,Canada
weigthed eigenvector centrality,Philippines,Netherlands,Rep. of Korea,Australia,Belgium,Canada

In [ ]:
year= 2022

print(f'weighted degree centrality in {year}:\n', sorted(kor_cenInfo[year]['wdeg'].items(), key=lambda x:x[1], reverse=True)[0:6], '\n')
print(f'weighted eigenvector centrality in {year}:\n', sorted(kor_cenInfo[year]['weig'].items(), key=lambda x:x[1], reverse=True)[0:6], '\n')

weighted degree centrality in 2022:
 [('Rep. of Korea', 997208407.0), ('USA', 495796158.0), ('Australia', 311250701.0), ('Romania', 111652191.0), ('Canada', 61827465.0), ('Latvia', 7295906.0)]

weighted eigenvector centrality in 2022:
 [('Philippines', 0.9805806416239025), ('Netherlands', 0.19611612832478895), ('Rep. of Korea', 0.00026359694666163477), ('Australia', 1.0573398424374358e-14), ('Belgium', 1.0573398424374358e-14), ('Canada', 1.0573398424374358e-14)]

In [ ]:
centrality_df[2022]

,1st,2nd,3rd,4th,5th,6th
weigthed degree centrality,Rep. of Korea,USA,Australia,Romania,Canada,Latvia
weigthed eigenvector centrality,Philippines,Netherlands,Rep. of Korea,Australia,Belgium,Canada